.list-items-container {
  display: flex;
  flex-direction: row;
}
.avatar {
  width: 150px;
}
.list-items-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.repo-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.link {
  text-decoration: none;
}
.repo-name {
  color: #2e2e2e;
  font-size: 30px;
  margin-top: 0px;
}
.repo-desc {
  color: #807e7e;
  font-size: 23px;
  margin-top: 0px;
}
.repo-report-container {
  display: flex;
  flex-direction: row;
}
.open-issues {
  color: #807e7e;
  font-size: 23px;
  margin-right: 50px;
}
